<h1>You are not at risk</h1>

<p>
  At this time you are not considered at risk.
  However you should practice social distancing to help flatten the curve.
</p><br />
<p>
  You can do this by:
    <ul>
      <li>
        Washing your hands frequently for more than 20 seconds.
      </li>
      <li>
        Avoid touching face, mouth, or eyes
      </li>
      <li>
        Avoid touching frequently touched surfaces
      </li>
      <li>
        Avoiding all non-essential travel.
      </li>
      <li>
        Staying at least 6ft apart from those around you.
      </li>
      <li>
        Avoid others who maybe at risk (Immune Compromised and Elderly)
      </li>
      <li>
        Only traveling to work if you are deemed essential and the grocery store.
      </li>

    </ul>
</p>
<br />
<a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Please visit the CDC website for additional information here.</a> 
<p>
